<% if @trucks.empty? %>
  <h2>No food trucks available for lunch today :(</h2>
<% else %>
  <h2>Lunch trucks near Downtown Crossing today</h2>
  <% @trucks.each do |truck| %>
    <table>
      <thead>
        <tr>
          <th align="left">Name</th>
          <th align="left">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= truck.name_with_url %>
          </td>

          <td>
            <%= truck.humanized_location %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
