<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/fontello.css">
  <title>Food Trucks near thoughtbot</title>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
