$twitter-blue: #55ACEE;
$facebook-blue: #3B5998;
$sans-serif: "Helvetica Neue", Helvetica, sans-serif;

#container {
  font-family: $sans-serif;
  margin: 3em auto;
  width: 70%;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 6px 10px;
}

td a:visited {
  color: blue;
}

// Both icons are from Brandico on Fontello
i.icon-twitter-bird {
  color: $twitter-blue;
}

i.icon-facebook {
  color: $facebook-blue;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  #container {
    width: 100%;
  }
}
