#container {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 3em auto;
  width: 60%;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 6px 10px;
}

a i {
  color: #55ACEE;
}
